<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="login"> 
        <h2>Check your inbox.</h2>
        <p>We've emailed you instructions for setting your password.
            You should receive the email shortly!
        </p>
    </div> 
    {% endblock content %}
</body>
</html>