<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change Successful</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load crispy_forms_tags %}

    {% block content %}
    <div class="login"> 
        <h2>Password Change Successful</h2>
        <p>Your Password was changed</p>
    </div> 
    {% endblock content %}
</body>
</html>