{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--hoja de css-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--hoja de boostrap-->
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <title>Newspaper</title>
</head>
<body>
    <section class="container text-center">
        <header class="row">
            {% if user.is_authenticated %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Inicio de sesion exitoso!</strong> Eri un Crack BD
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                <h1>Hola 
                    <small class="text-muted">{{user.username}}!</small>
                </h1>
                
                <ul class="nav list-inline">
                    <li class="list-inline-item"><a class="btn btn-primary " href= "{% url 'article_new' %}">New Article</a></li>
                    <li class="list-inline-item"><a class="btn btn-primary " href= "{% url 'logout' %}">Log Out</a></li>
                </ul>
            {% else %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>You are not logged!</strong>
                    
                </div>
                <div class="text-end">
                    <ul class="nav list-inline">
                        <li class="list-inline-item"><a class="btn btn-primary " href="{% url 'login' %}">Log In</a></li>
                        <li class="list-inline-item"><a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a></li>
                    </ul>
                </div>
            {% endif %}
        </header>
        <div id="body" class="row text-center">
            
            {% block content %}
                
            {% endblock content %}
            
        </div>
    </section>
    <script src= {% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js' %}></script>
</body>
</html>