{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newspaper</title>
</head>
<body>
    {% block content %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Lo sentimos</strong> no eres el autor de este articulo.
        </div>
    
        <ul class="nav list-inline text-center">
            <li class="list-inline-item"><a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Volver a la página principal" href= "{% url 'articles_site' %}">Come Back</a></li>
        </ul>
    {% endblock content%}
</body>
</html>